@font-face {
    font-family:"ronnia-condensed";
	src: url("/assets/fonts/ronnia-condensed-eot-normal.eot");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"ronnia-condensed";
	src: url("/assets/fonts/ronnia-condensed-eot-italic.eot");
    font-weight:normal;
    font-style:italic;
}

@font-face {
    font-family:"ronnia-condensed";
	src: url("/assets/fonts/ronnia-condensed-eot-bold.eot");
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family:"ronnia-condensed";
	src: url("/assets/fonts/ronnia-condensed-eot-bold-italic.eot");
    font-weight:bold;
    font-style:italic;
}

.webfont-ronnia-condensed {
    font-family:"ronnia-condensed", sans-serif;
}
